<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>蜜糖:每一口都更甜蜜</title>
    <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <div class="pull-right">
            <style>
               .divcss5 img{ width:1600px; height:500px;}
            </style>
    </div>

</head>

<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active" data-wrap="true"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active" data-wrap="true"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active" data-wrap="true"></li>
        <li data-target="#myCarousel" data-slide-to="3" class="active" data-wrap="true"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active"> <a href="/products/">
          <div  class="divcss5">
           <img src="https://ww4.sinaimg.cn/large/006tNbRwly1fczjte364bj30rs0b4q7s.jpg?imageView&quality=95&thumbnail=1920x480" alt="First slide"  class="img-responsive"></a>
          </div>
        </div>
        <div class="item"> <a href="/products/">
          <div  class="divcss5">
          <img src="https://ww4.sinaimg.cn/large/006tNbRwly1fczks6uiiwj30rs0b4wml.jpg?imageView&quality=95&thumbnail=1920x480" alt="Second slide"  class="img-responsive"></a>
          </div>
        </div></a>
        <div class="item"> <a href="/products/">
          <div  class="divcss5">
          <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fczkuqobf9j30rs0b40z3.jpg?imageView&quality=95&thumbnail=1920x480" alt="Third slide"  class="img-responsive"></a>
          </div>
        </div>
        <div class="item"> <a href="/products/">
          <div  class="divcss5">
          <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fczjozlsp8j30rs0b4qbq.jpg?imageView&quality=95&thumbnail=1920x480" alt="Fourth slide"  class="img-responsive"></a>
          </div>
        </div>
    </div>
</div>

<!--时间变量--->
<script>
    $('.carousel').carousel({interval: 4000})
</script>


<!--test2 start-->

<h3 style="font-size:1.5em;font-family:Candara;text-align:left;font-weight:600;">蛋糕分类</h3>


<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="/naiyou">奶油系列</a></li>
            <li><a href="/zhishi">芝士系列</a></li>
            <li><a href="/musi">慕斯系列</a></li>
            <li><a href="/qiaokeli">巧克力系列</a></li>
            <li><a href="/shuiguo">水果系列</a></li>
            <li><a href="/bingjiling">冰激凌系列</a></li>
            <li><a href="/qingdian">庆典系列</a></li>
        </ul>

    </div>


<!-- list -->
<div class="content-top ">
    <div class="container ">
        <div class="spec text-center ">
            <h3 style="font-size:2.5em;font-family:Candara;text-align:center;font-weight:600;font-color:black;">热销品</h3>

        </div>
    </div>
</div>



<div class="container">
   <div id="products" class="row list-group">

           <div class="item  col-xs-4 col-lg-4">
               <div class="thumbnail">
                   <a href="/products/1">
                           <img class="group list-group-image" src="https://ww1.sinaimg.cn/large/006tNbRwly1fczk9p4t1aj30ak0akdga.jpg" alt="Thumb pdg y0778920" />
                    </a>
                          <div class="caption">
                       <h4 class="group inner list-group-item-heading">
                           爱似流星</h4>

                       <div class="row">
                           <div class="col-xs-12 col-md-6">
                               <p class="lead">
                                   ¥246</p>
                           </div>

                           <div class="col-xs-12 col-md-6 ">
                               <div class="simpleCart_shelfItem">
                                   <p><a class="item_add" rel="nofollow" data-method="post" href="/products/1/add_to_cart">加入购物车</a></p>
                               </div>
                           </div>

                       </div>
                   </div>
               </div>
           </div>

           <div class="item  col-xs-4 col-lg-4">
               <div class="thumbnail">
                   <a href="/products/2">
                           <img class="group list-group-image" src="https://ww4.sinaimg.cn/large/006tNbRwly1fczkfo4lhej30ak0akaaq.jpg" alt="Thumb pdg y0390320" />
                   </a>
                      <div class="caption">
                       <h4 class="group inner list-group-item-heading">
                           甜蜜</h4>

                       <div class="row">
                           <div class="col-xs-12 col-md-6">
                               <p class="lead">
                                   ¥246</p>
                           </div>
                           <div class="col-xs-12 col-md-6 ">
                               <div class="simpleCart_shelfItem">
                                   <p><a class="item_add" rel="nofollow" data-method="post" href="/products/2/add_to_cart">加入购物车</a></p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           <div class="item  col-xs-4 col-lg-4">
               <div class="thumbnail">
                   <a href="/products/3">
                           <img class="group list-group-image" src="https://ww1.sinaimg.cn/large/006tNbRwly1fczkwxdcaqj30b40b4gp4.jpg" alt="Thumb q" />
                   </a>
                   <div class="caption">
                       <h4 class="group inner list-group-item-heading">
                           爱的乐园</h4>

                       <div class="row">
                           <div class="col-xs-12 col-md-6">
                               <p class="lead">
                                   ¥246</p>
                           </div>
                           <div class="col-xs-12 col-md-6 ">
                               <div class="simpleCart_shelfItem">
                                   <p><a class="item_add" rel="nofollow" data-method="post" href="/products/3/add_to_cart">加入购物车</a></p>
                               </div>
                           </div>
                       </div>
                   </div>
          </div>
       </div>






         </div>
         </div>


         <!-- list -->





<!--test2 end-->




<!--test3 start-->



<!--test3 end-->

<!-- test -->



<!-- test -->



</body>




</html>
