<footer class="container-fluid" style="margin-top:300px;">
    <style>
        footer{ position: absolute;background:#464140;border-top:100px; padding:20px 0 10px 0; width:100%;margin-top: 10px;}
        body{ text-align:center;}
    </style>
    <a href="/" target="_blank" style="color:#FF99CC">关于我们</a>
    <span class="sep" style="color:#FFFFFF">|</span>
    <a href="/" target="_blank" style="color:#FF99CC">帮助中心</a>
    <span class="sep" style="color:#FFFFFF">|</span>
    <a href="/" target="_blank" style="color:#FF99CC">联系客服</a>
    <span class="sep" style="color:#FFFFFF">|</span>
    <br>
    <a href="/" target="_blank" style="color:#FF99CC">Copyright ©2017 deisgned by 蜜糖蛋糕店</a>
</footer>
